# Problem No.1

In [396]:
# Load modules
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix, classification_report, precision_score
import sklearn.linear_model as skl_lm
from sklearn.model_selection import train_test_split
import statsmodels.discrete.discrete_model as smd
import warnings
warnings.filterwarnings('ignore')

In [242]:
# Load Dataset
Carseats = pd.read_csv('Carseats.csv')

In [243]:
Carseats.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [244]:
Carseats.info() # Check that there is no null data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [245]:
X = pd.get_dummies(data = Carseats[['Urban', 'US']], drop_first = True)
#Carseats.Urban, Carseats.US = X[]
Carseats.Urban, Carseats.US = X.Urban_Yes, X.US_Yes

In [246]:
Carseats

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,1,1
1,11.22,111,48,16,260,83,Good,65,10,1,1
2,10.06,113,35,10,269,80,Medium,59,12,1,1
3,7.40,117,100,4,466,97,Medium,55,14,1,1
4,4.15,141,64,3,340,128,Bad,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,1,1
396,6.14,139,23,3,37,120,Medium,55,11,0,1
397,7.41,162,26,12,368,159,Medium,40,18,1,1
398,5.94,100,79,7,284,95,Bad,50,12,1,1
399,9.71,134,37,0,27,120,Good,49,16,1,1

In [247]:
X = Carseats[['Price', 'Urban', 'US']].to_numpy()
y = Carseats.Sales
regr = skl_lm.LinearRegression()
regr.fit(X,y)

LinearRegression()

In [265]:
# 1.a)
Sales_pred = regr.predict(X)
print("r square val = ",r2_score(y, Sales_pred))

r square val =  0.23927539218405547

In [252]:
# 1.b)
print("Coefficients of the model = ", regr.coef_)
print("Intercept is ", regr.intercept_)
# Interpretation : B0 = 13.0435, 1 unit increase in Price results in -0.0545.

Coefficients of the model =  [-0.05445885 -0.02191615  1.2005727 ]
Intercept is  13.043468936764896

In [76]:
# 1.d) Can you reject the Hypothesis
est = smf.ols('Sales~ Price+Urban+US', Carseats).fit()
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.234
Method:                 Least Squares   F-statistic:                     41.52
Date:                Fri, 24 Mar 2023   Prob (F-statistic):           2.39e-23
Time:                        14:56:03   Log-Likelihood:                -927.66
No. Observations:                 400   AIC:                             1863.
Df Residuals:                     396   BIC:                             1879.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     13.0435      0.651     20.036      0.000      11.764      14.323
Price         -0.0545      0.005    -10.389      0.000      -0.065      -0.044
Urban         -0.0219      0.272     -0.081      0.936      -0.556       0.512
US             1.2006      0.259      4.635      0.000       0.691       1.710
==============================================================================
Omnibus:                        0.676   Durbin-Watson:                   1.912
Prob(Omnibus):                  0.713   Jarque-Bera (JB):                0.758
Skew:                           0.093   Prob(JB):                        0.684
Kurtosis:                       2.897   Cond. No.                         628.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [235]:
# 1.e) Fit a smaller model excluding the Urban variable.
est2 = smf.ols('Sales ~ Price + US', Carseats).fit()
est2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.235
Method:                 Least Squares   F-statistic:                     62.43
Date:                Thu, 30 Mar 2023   Prob (F-statistic):           2.66e-24
Time:                        21:04:28   Log-Likelihood:                -927.66
No. Observations:                 400   AIC:                             1861.
Df Residuals:                     397   BIC:                             1873.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     13.0308      0.631     20.652      0.000      11.790      14.271
Price         -0.0545      0.005    -10.416      0.000      -0.065      -0.044
US             1.1996      0.258      4.641      0.000       0.692       1.708
==============================================================================
Omnibus:                        0.666   Durbin-Watson:                   1.912
Prob(Omnibus):                  0.717   Jarque-Bera (JB):                0.749
Skew:                           0.092   Prob(JB):                        0.688
Kurtosis:                       2.895   Cond. No.                         607.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [257]:
# 1.g) Calculate the confidence interval (95%)
# B1+-2*SE
# for b0
print('the lower bound for 95% interval is = ',est2.params[0] - 2*est2.bse[0])
print('the upper bound for 95% interval is = ',est2.params[0] + 2*est2.bse[0])

the lower bound for 95% interval is =  11.768840139225267
the upper bound for 95% interval is =  14.29274537000626

In [253]:
# for b1
print('the lower bound for B1 95% interval is = ',est2.params[1] - 2*est2.bse[1])
print('the upper bound for B1 95% interval is = ',est2.params[1] + 2*est2.bse[1])

the lower bound for 95% interval is =  -0.06493788390637911
the upper bound for 95% interval is =  -0.044017381053195324

In [256]:
# for b2
print('the lower bound for 95% interval is = ',est2.params[2] - 2*est2.bse[2])
print('the upper bound for 95% interval is = ',est2.params[2] + 2*est2.bse[2])

the lower bound for 95% interval is =  0.6827208910062152
the upper bound for 95% interval is =  1.716564995447143

# Problem no.2

In [363]:
Default = pd.read_csv("Default.csv")

In [364]:
Default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [365]:
Default.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  10000 non-null  object
 1   student  10000 non-null  object
 2   balance  10000 non-null  float64
 3   income   10000 non-null  float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB

In [366]:
# Factorize the values
Default['default2'] = Default.default.factorize()[0]
Default['student2'] = Default.student.factorize()[0]

In [367]:
Default[['default2', 'student2', 'income','balance']]

      default2  student2        income      balance
0            0         0  44361.625074   729.526495
1            0         1  12106.134700   817.180407
2            0         0  31767.138947  1073.549164
3            0         0  35704.493935   529.250605
4            0         0  38463.495879   785.655883
...        ...       ...           ...          ...
9995         0         0  52992.378914   711.555020
9996         0         0  19660.721768   757.962918
9997         0         0  58636.156984   845.411989
9998         0         0  36669.112365  1569.009053
9999         0         1  16862.952321   200.922183

[10000 rows x 4 columns]

In [368]:
# 2.a) i Split Dataset
X_train, X_valid, y_train, y_valid = train_test_split(Default[[ 'income', 'balance']], Default.default2, test_size = 0.2, random_state = 0)

In [369]:
print('X_train shape = ', X_train.shape)
print('X_valid shape = ', X_valid.shape)
print('y_train shape = ', y_train.shape)
print('y_valid shape = ', y_valid.shape)

X_train shape =  (8000, 2)
X_valid shape =  (2000, 2)
y_train shape =  (8000,)
y_valid shape =  (2000,)

In [397]:
# 2.a) ii Fit a model. (using SckitLearn)
clf = skl_lm.LogisticRegression(solver = 'newton-cg', random_state = 0) 
clf.fit(X_train, y_train)

LogisticRegression(random_state=0, solver='newton-cg')

In [376]:
# Fitting Result
print('The intercept of the model is ',clf.intercept_)
print('The coefficients of the model are ', clf.coef_)

The intercept of the model is  [-11.20567181]
The coefficients of the model are  [[1.54218712e-05 5.52878685e-03]]

In [378]:
# 2. a) iii. Obtain prediction of default status.
prob = clf.predict_proba(X_valid)
prob[:,1]
cm_Default = pd.DataFrame({'Actual': y_valid, 'Pred' : prob[:,1] > 0.5})
cm_Default

      Actual   Pred
9394       0  False
898        0  False
2398       0  False
5906       0  False
2343       0  False
...      ...    ...
1037       0  False
2899       0  False
9549       0  False
2740       0  False
6690       0  False

[2000 rows x 2 columns]

In [379]:
# 2. a) iv. Compute validation set error using confusion matrix
cm_Default.Actual.replace(to_replace = {0:'No', 1: 'Yes'}, inplace = True)
cm_Default.Pred.replace(to_replace = {False : 'No', True : 'Yes'}, inplace = True)

cm_df = pd.DataFrame(confusion_matrix(cm_Default.Actual, cm_Default.Pred).T,
                     index = ['No', 'Yes'],
                     columns = ['No', 'Yes'])
cm_df.index.name = 'Predicted'
cm_df.columns.name = 'Actual'

cm_df

Actual       No  Yes
Predicted
No         1921   51
Yes           5   23

In [380]:
# 2.a(iv) Evaluation
result_matrix = confusion_matrix(cm_Default.Actual, cm_Default.Pred).T
(result_matrix.sum() - sum(result_matrix.diagonal())) / result_matrix.sum()

0.028

In [381]:
# 2.b) Interpretation for each coefficient (using statsmodels)

In [382]:
# 2.b) Fit a model (using statsmodels)
X_train = sm.add_constant(X_train)
X_valid = sm.add_constant(X_valid)
est = smd.Logit(y_train, X_train).fit()
est.summary().tables[1]

Optimization terminated successfully.
         Current function value: 0.077979
         Iterations 10

In [383]:
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               default2   No. Observations:                 8000
Model:                          Logit   Df Residuals:                     7997
Method:                           MLE   Df Model:                            2
Date:                Thu, 30 Mar 2023   Pseudo R-squ.:                  0.4543
Time:                        22:48:44   Log-Likelihood:                -623.83
converged:                       True   LL-Null:                       -1143.2
Covariance Type:            nonrobust   LLR p-value:                2.697e-226
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -11.2316      0.477    -23.543      0.000     -12.167     -10.297
income      1.558e-05    5.6e-06      2.783      0.005    4.61e-06    2.66e-05
balance        0.0055      0.000     22.133      0.000       0.005       0.006
==============================================================================

Possibly complete quasi-separation: A fraction 0.13 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [217]:
# 2.c) Cross-Validation
def cross_validation(model, list_X, y, data, num_k):
    # Shuffle the whole data.
    data = data.sample(frac = 1, random_state = 96).reset_index(drop = True) 
    X = data[list_X]
    y = data[y]
    n = len(data)
    size_fold = n//num_k
    
    evaluation = [] # to store final result.
    
    # Iterate the validating process for 5 times.
    for i in range(num_k):
        start = i*size_fold
        end = (i+1)*size_fold
        X_train = X.drop(X.index[start:end])
        y_train = y.drop(y.index[start:end])
        X_test = X[start:end]
        y_test = y[start:end]

        model.fit(X_train, y_train)
        prob = model.predict_proba(X_test)

        cm_Default = pd.DataFrame({'Actual': y_test, 'Pred' : prob[:,1] > 0.5})

        cm_Default.Actual.replace(to_replace = {0:'No', 1: 'Yes'}, inplace = True)
        cm_Default.Pred.replace(to_replace = {False : 'No', True : 'Yes'}, inplace = True)

        cm_df = pd.DataFrame(confusion_matrix(cm_Default.Actual, cm_Default.Pred).T,
                         index = ['No', 'Yes'],
                         columns = ['No', 'Yes'])
        cm_df.index.name = 'Predicted'
        cm_df.columns.name = 'Actual'
        result_matrix = confusion_matrix(cm_Default.Actual, cm_Default.Pred).T
        evaluation.append((result_matrix.sum() - sum(result_matrix.diagonal())) / result_matrix.sum())
        
    return round(np.average(evaluation), 5) # evaluate the result round to 5 decimals.

In [398]:
list_X = ['income', 'balance']
y = 'default2'
clf = skl_lm.LogisticRegression(solver = 'newton-cg', random_state = 0) 
result = cross_validation(clf, list_X, y, Default, 5)

In [391]:
# Error Result
print('The cross-validated result is ', result)

The cross-validated result is  0.0264

In [399]:
# 2.d) Add student dummy variable and compute cv value.

# Dummy variable has been created in the preprocessing step in Number 1.
list_X = ['income', 'balance', 'student2']
y = 'default2'
clf = skl_lm.LogisticRegression(solver = 'newton-cg', random_state = 0)
result2 = cross_validation(clf, list_X, y, Default, 5)

In [393]:
print('the cross-validated result is ', result2)

the cross-validated result is  0.0267